*
{
    margin: 0;
}
.heading 
{
    height: 40px;
    background-color: black;
    color: white;
}
.heading ul 
{
    padding-top: 10px;
    list-style-type: none;
}
.heading li
{
    display: inline;
    margin-left: 10px;
}
.login 
{
    float: right;
    margin-right: 50px;
    margin-top: -30px;
    color: white;
    font-weight: bold;
}
.baner img
{
    margin-left: 300px;
    margin-top: 10px;
}
.menu
{
    margin-top: 20px;
    float: right;
    margin-right: 5px;
    font-size: 12px;
    background-color: white;
    color: black;
}
.menu ul
{
    list-style-type: none;
}
.menu li
{
    display: inline;
    margin-left: 40px;
    
}
.date
{
margin-top: 20px;
font-size: 12px;
background-color: white;
color: darkgray;
    
}
.date ul
{
    list-style-type: none;
}
.date li
{
  display: inline;
  margin-left: 20px;  
  margin-top: 50px;
}
.section
{
    font-size: 20px;
    background-color: white;
    color:black;
    display: inline;
    margin-left: 60px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: grey;
}
.section i 
{
    padding-top: 30px;
}
.manorama img
{
margin-top: -15px;
margin-left: 450px;
margin-right:30px;
height: 60px;
}
.home
{
    border-top: solid;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 20px;
    background-color: white;
    color: black;  
    margin-right: 50px;
}
.home ul
{
    list-style-type: none;  
}
.home li
{
    display: inline;
    margin-left: 30px;   
}
.news1 
{
    margin-left: 50px;
    width: 500px;
}
.news1 h6
{
    margin-top:30px;
    color:red;
    font-size: 15px;
}
.news1 p
{
    font-size: 10px;
}
.news1 h3
{
    font-size: 16px;
}
.news2
{
    width: 500px;
    margin-left: 550px;
    margin-top: -300px;
}
.news2 h5
{
margin-left: 100px;
margin-top: -50px;
}
.news3
{
margin-top: 15px;
  width: 500px;
  margin-left:550px ;
}
.news3 h5
{
    margin-left: 100px;
    margin-top: -50px;
}
.news4
{
    width: 500px;
    margin-left: 550px;
    margin-top: 15px;
}
.news4 h5
{
    margin-left: 100px;
    margin-top: -50px;
}
.news5
{
    width: 500px;
    margin-left: 550px;
    margin-top: 15px;

}
.news5 h5
{
    margin-top: -50px;
    margin-left: 100px;
}
.news6
{
    width: 500px;
    margin-left: 550px;
    margin-top: 15px;

}
.news6 h5
{
    margin-top: -50px;
    margin-left: 100px;
}
.advatisment
{
    margin-left: 1050px;
    margin-top: -250px;
}
